// Place all the styles related to the paspol controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* headerクラス */


/* @media(max-width:500px)を行うようにする */




@media(max-width: 900px){
  .header {
    float:left;
    width: 100vw;
    position:relative;
    z-index: 1;
    height: 0px;
  }
  
  .topZero{
    position: absolute;
    top: 0;
    width: 100vw;
  }
  
  .topNone{
    display: none;
  }
  
  .header-show {
    height: 45px;
    background: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-image {
    display: none;
  }
  
  .header-none {
    z-index: 1;
    position:relative;
    height: 280px;
    color: white;
    width: 100vw;
    background: rgba(0,0,0,0.5);
  }
  
  .header-category > li {
    height: 56px;
    line-height: 56px;
    padding-left: 40px;
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .header-list {
    display: block;
    text-decoration: none;
    color: #fff;
    width: 100vw;
  }
  
  .header-category > li:not(:last-child) {
    border-bottom: 1px solid #fff;
  }

  .header-none {
    display: none;
  }
  
  .header-none > ul {
    display: block;
  }
  
  .show {
    display: block;
  }
  
  .none {
    display: none;
  }
  
  .header-show > p {
    font-size: 12px;
    margin-left: 45px;
    letter-spacing: 1px;
  }
  
  .header-show > i {
    margin-right: 45px;
  }
}

@media(min-width: 901px) {
  .header {
    float:left;
    width: calc(100vw - 120px);
    margin: 0 auto;
    justify-content: space-between;
    position:relative;
    top: 60px;
    left: 5%;
    z-index: 1;
    display: flex;
    height: 0px;
  }
  
  .topZero{
    position: absolute;
    top: 0;
    width: 100vw;
  }
  
  
  .header-show {
    height: 45px;
    background: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-none {
    z-index: 1;
    position:relative;
    height: 280px;
    left: 40px;
    color: white;
    display: block;
  }

  .header-imageInside {
    display: block;
    width: 250px;
  }

  .header-category {
    display: flex;
    position: relative; 
    right: 50px;
    height: 40px;
  }
  
  .header-category > li {
    height: 56px;
    line-height: 56px;
    font-size: 13px;
    letter-spacing: 1px;
    width: 80px;
    text-align: center;
    padding-left:20px;
  }

  .header-list {
    height: 40px;
  }

  .header-list:hover {
    border-bottom: 1px solid #fff;
  }

  .header-top {
    width: 40px;
    margin: 0 auto;
    display: block;
  }

  .header-product {
    width: 70px;
    margin: 0 auto;
    display: block;
  }

  .header-about {
    width: 55px;
    margin: 0 auto;
    display: block;
  }

  .header-news {
    width: 50px;
    margin: 0 auto;
    display: block;
  }

  .header-contact {
    width: 70px;
    margin: 0 auto;
    display: block;
  }
  
  .header-list {
    display: block;
    text-decoration: none;
    color: #fff;
  }
  
  
  .show {
    display: block;
  }
  
  .none {
    display: none;
  }

  .header-show {
    display: none;
  }
  
  .header-show > p {
    font-size: 12px;
    margin-left: 45px;
    letter-spacing: 1px;
  }
  
  .header-show > i {
    margin-right: 45px;
  }
}

.header-background {
  background: rgba(0,0,0,0.5);
}

.header-bottom {
  border-bottom: 1px solid #fff;
}




/* mainクラス */

@media(min-width: 901px) {
  .brand > img:first-of-type {
    display: none;
  }
}

.slick-track {
  width: 100vw;
}

.background > img {
  display: block;
  max-width: 100vw;
  height: 740px;
  border-bottom-left-radius: 300px 22px;
  border-bottom-right-radius: 400px 20px;
  object-position: 40% 60%;
  position: relative;
  bottom: 60px;
  padding: 0;
}



.main {
  height: 740px;
  border-bottom-left-radius: 300px 22px;
  border-bottom-right-radius: 400px 20px;
  position: relative;
  width: 100vw;
}

.main::after {
  content: '';
  height: 695px;
  background: #f6f6f6;
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  z-index: -1;
}

.brand > img {
  display: block;
  margin: 0 auto;
  // z-index: -1;
}

.brand-first {
  width: 200px;
  position: absolute;
  top: 250px;
  margin: auto;
  left:0;
  right: 0;
}

.brand-second {
  position: absolute;
  top: 665px;
  margin: auto;
  left:0;
  right: 0;
  width: 22px;
}

/* conceptクラス */



@media(max-width: 500px) {
  .concept {
    height: 650px;
    background: #f6f6f6;
    z-index: -1;
  }
  
  .journey {
    width: calc(100vw - 70px);
    margin: 0 auto;
    position: relative;
    top: 70px;
  }
  
  .journey > h2 {
    font-size: 35px;
    letter-spacing: 2px;
  }
  
  .journey > p {
    font-size: 15px;
    line-height: 1.7;
  }
  
  .journey > p:first-of-type {
    margin-top: 30px;
  }
  
  .journey > p:not(:first-of-type) {
    padding-top: 15px;
  }
  
  .journey > img {
    display: block;
    width: 150px;
    margin: 20px 0;
  }
}

@media(min-width: 501px) and (max-width: 700px){
  .concept {
    height: 900px;
    background: #f6f6f6;
    z-index: -1;
  }
  
  .journey {
    width: calc(100vw - 90px);
    margin: 0 auto;
    position: relative;
    top: 70px;
  }
  
  .journey > h2 {
    font-size: 45px;
    letter-spacing: 2px;
  }
  
  .journey > p {
    font-size: 20px;
    line-height: 1.7;
  }
  
  .journey > p:first-of-type {
    margin-top: 50px;
  }
  
  .journey > p:not(:first-of-type) {
    padding-top: 15px;
  }
  
  .journey > img {
    display: block;
    width: 200px;
    margin: 20px 0;
  }
}

@media(min-width: 701px) {
  .concept {
    height: 900px;
    background: #f6f6f6;
    z-index: -1;
  }
  
  .journey {
    width: 370px;
    margin: 0 auto;
    position: relative;
    top: 130px;
  }
  
  .journey > h2 {
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    left: 10px;
  }
  
  .journey > p {
    font-size: 20px;
    line-height: 1.7;
  }
  
  .journey > p:first-of-type {
    margin-top: 50px;
  }
  
  .journey > p:not(:first-of-type) {
    padding-top: 15px;
  }
  
  .journey > img {
    display: block;
    width: 200px;
    margin: 20px auto;
  }
}


/* productクラス */


@media(max-width: 500px) {
  .product {
    padding-bottom: 90px;
  }
  
  .product-header {
    padding-top: 80px;
  }
  
  .product-left {
    width: calc(100vw - 40px);
    margin: 0 auto;
    text-align: center;
  }
  
  .product-left > p {
    font-size: 28px;
    letter-spacing: 2px;
  }
  
  .product-left > img {
    display: block;
    width: 70px;
    margin: 10px auto 0;
  }
  
  .product-right {
    display: none;
  }

  .product-link {
    text-decoration: none;
    color: black;
  }
  
  .product-right:hover,
  .product-link:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .product-link > p {
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .right-arrow {
    position: relative;
    left: 40px;
  }
  

  .product-book {
    text-decoration: none;
    color: #000;
  }

  .product-book > div {
    margin-top: 40px;
    width: calc(100vw - 30px);
    margin: 30px auto 0;
  }

  .product-book > div:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  

  .book-sm {
    content:"\A";
    white-space: pre;
  }
  
  .book > img {
    display: block;
    width: calc(100vw - 70px);
    margin: 0 auto;
  }
  
  .book > p {
    margin: 0 auto;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    width: calc(100vw - 170px );
  }

  .product-footer {
    border: 1px solid black;
    width: 160px;
    margin: 60px auto 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.5s;
  }

  .product-link {
    text-decoration: none;
    color: black;
  }
  
  .product-footer:hover,
  .product-link:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .product-link > p {
    font-size: 13px;
    letter-spacing: 1px;
  }
}


@media(min-width:501px) and (max-width: 780px){
  .product {
    padding-bottom: 90px;
  }
  
  .product-header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }
  
  .product-left {
    margin-left: 35px;
  }
  
  .product-left > p {
    font-size: 28px;
    letter-spacing: 2px;
  }
  
  .product-left > img {
    display: block;
    width: 70px;
    margin-top: 10px;
  }
  
  .product-right {
    border: 1px solid black;
    width: 160px;
    margin-right: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.5s;
  }

  .product-link {
    text-decoration: none;
    color: black;
  }
  
  .product-right:hover,
  .product-link:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .product-link > p {
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .right-arrow {
    position: relative;
    left: 40px;
    /* font-size: 20px; */
  }
  
  .product-main {
    margin-top: 40px;
  }

  .product-book {
    text-decoration: none;
    color: #000;
  }

  .product-book > div {
    display: flex;
    width: calc(100vw - 30px);
    margin: 30px auto 0;
  }

  .product-book > div:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  // .product-main > div {
  //   display: flex;
  //   width: calc(100vw - 30px);
  //   margin: 0 auto;
  // }
  
  // .product-main > div:hover {
  //   opacity: 0.5;
  //   cursor: pointer;
  // }
  
  .book > img {
    display: block;
    width: calc(100vw * 0.3);
    margin-left: 20px;
  }
  
  .book > p {
    margin: 30px 0 0 25px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    width: calc(100vw - (100vw * 0.3 + 90px));
  }

  .product-footer {
    display: none;
  }
}


@media(min-width: 781px) and (max-width: 915px){
  .product {
    padding-bottom: 90px;
  }
  
  .product-header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: calc(100vw - 60px);
    margin: 0 auto;
  }
  
  .product-left {
    margin-left: 35px;
  }
  
  .product-left > p {
    font-size: 28px;
    letter-spacing: 2px;
  }
  
  .product-left > img {
    display: block;
    width: 70px;
    margin-top: 10px;
  }
  
  .product-right {
    border: 1px solid black;
    width: 160px;
    margin-right: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.5s;
  }
  
  .product-link {
    text-decoration: none;
    color: black;
  }
  
  .product-right:hover,
  .product-link:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .product-link > p {
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .right-arrow {
    position: relative;
    left: 40px;
    /* font-size: 20px; */
  }
  
  .product-main {
    display: flex;
    width: calc(100vw - 120px);
    flex-wrap: wrap;
    margin: 70px auto 0;
  }

  .product-book {
    text-decoration: none;
    color: #000;
  }

  .product-book > div {
    width: calc((100vw - 120px) / 3);
    margin: 0 auto;
  }

  .product-book > div:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  // .product-main > div {
  //   width: calc((100vw - 120px) / 3);
  //   margin: 0 auto;
  // }
  
  // .product-main > div:hover {
  //   opacity: 0.5;
  //   cursor: pointer;
  // }
  
  .book > img {
    display: block;
    width: calc(100vw * 0.25);
    margin-left: 20px;
  }
  
  .book > p {
    margin: 30px auto 50px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    width: calc(100vw - (100vw * 0.3 + 440px));
  }

  .product-footer {
    display: none;
  }
}



@media(min-width: 916px){
  .product {
    padding-bottom: 90px;
  }
  
  .product-header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: calc(916px - 60px);
    margin: 0 auto;
  }
  
  .product-left {
    margin-left: 35px;
  }
  
  .product-left > p {
    font-size: 28px;
    letter-spacing: 2px;
  }
  
  .product-left > img {
    display: block;
    width: 70px;
    margin-top: 10px;
  }
  
  .product-right {
    border: 1px solid black;
    width: 160px;
    margin-right: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.5s;
  }
  
  .product-link {
    text-decoration: none;
    color: black;
  }
  
  .product-right:hover,
  .product-link:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .product-link > p {
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .right-arrow {
    position: relative;
    left: 40px;
    /* font-size: 20px; */
  }

  .product-main {
    display: flex;
    width: calc(916px - 120px);
    flex-wrap: wrap;
    margin: 70px auto 0;
  }
  
  .product-book > div {
    width: calc((916px - 120px) / 3);
    margin: 0 auto;
  }

  .product-book {
    text-decoration: none;
    color: #000;
  }

  // .product-book > div {
  //   width: calc((916px - 120px) / 3);
  //   margin: 0 auto;
  // }

  .product-book > div:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  // .product-main > div {
  //   width: calc((916px - 120px) / 3);
  //   margin: 0 auto;
  // }
  
  // .product-main > div:hover {
  //   opacity: 0.5;
  //   cursor: pointer;
  // }
  
  .book > img {
    display: block;
    width: calc(916px * 0.25);
    margin-left: 20px;
  }
  
  .book > p {
    margin: 30px auto 50px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    width: calc(916px - (916px * 0.3 + 440px));
  }

  .product-footer {
    display: none;
  }
}



/* newsクラス */

@media(max-width: 500px) {
  .news {
    background: #f6f6f6;
    padding-bottom: 70px;
  }
  
  .news-header {
    padding-top: 70px;
  }
  
  .news-left {
   margin: 0 auto;
  }
  
  .news-left > p {
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
  }
  
  .news-left > img {
    display: block;
    width: 70px;
    margin: 10px auto 0;
  }
  
  .news-right {
    display: none;
  }
  
  .news-right:hover,
  .more-link:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }

  .more-link {
    text-decoration: none;
    color: black;
  }
  
  .more-link > p {
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .right-arrow {
    position: relative;
    left: 40px;
    /* font-size: 20px; */
  }
  
  .news-main {
    margin-top: 50px;
    padding-bottom: 10px;
    transition: 0.3s;
  }

  .news-link {
    text-decoration: none;
    color: #000;
  }
  
  .news-link > div:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
  }


  // .news-main > div:hover {
  //   opacity: 0.7;
  //   cursor: pointer;
  //   transition: 0.3s;
  // }
  
  .news-topic {
    // display: flex;
    width: calc(100vw - 70px);
    margin: 50px auto 0;
  }
  
  .news-topic > img {
    display: block;
    width: calc(100vw - 70px);
    height: auto;
  }
  
  .news-topic > div {
    width: calc(100vw - 70px);
  }
  
  .details > h2 {
    font-size: 18px;
    font-weight: bold;
    width: calc(100vw - 80px);
    letter-spacing: 2px;
    line-height: 1.7;
    margin-top: 15px;
  }
  
  
  
  .details > p:first-of-type {
    margin-top: 5px;
    font-size: 11px;
  }
  
  .details > p:last-child {
    display: none;
  }
  

  .news-footer {
    border: 1px solid black;
    width: 160px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.5s;
  }

  .more-link {
    text-decoration: none;
    color: black;
  }
  
  .news-footer:hover,
  .more-link:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .more-link > p {
    font-size: 13px;
    letter-spacing: 1px;
  }

  
}




@media(min-width: 501px) and (max-width: 915px) {
  .news {
    background: #f6f6f6;
  }
  
  .news-header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }
  
  .news-left {
    margin-left: 35px;
  }
  
  .news-left > p {
    font-size: 28px;
    letter-spacing: 2px;
  }
  
  .news-left > img {
    display: block;
    width: 70px;
    margin-top: 10px;
  }
  
  .news-right {
    border: 1px solid black;
    width: 160px;
    margin-right: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.5s;
  }
  
  .news-right:hover,
  .more-link:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }

  .more-link {
    text-decoration: none;
    color: black;
  }
  
  .more-link > p {
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .right-arrow {
    position: relative;
    left: 40px;
    /* font-size: 20px; */
  }
  
  .news-main {
    margin-top: 50px;
    padding-bottom: 50px;
    transition: 0.3s;
  }
  
  .news-link {
    text-decoration: none;
    color: #000;
  }
  
  .news-link > div:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .news-topic {
    display: flex;
    width: calc(100vw - 20px);
    margin: 60px auto 0;
  }
  
  .news-topic > img {
    display: block;
    width: calc(100vw * 0.35);
    height: auto;
    height: calc(100vw * 0.2);
    margin-left: 25px;
  }
  
  .news-topic > div {
    margin-left: 30px;
    width: calc(100vw - (100vw * 0.35 + 90px));
  }
  
  .details > h2 {
    font-size: 18px;
    font-weight: bold;
    width: calc(100vw - (100vw * 0.35 + 120px));
    letter-spacing: 1.5px;
    line-height: 1.7;
  }
  
  
  
  .details > p:first-of-type {
    margin-top: 5px;
    font-size: 11px;
  }
  
  .details > p:last-child {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-top: 25px;
    width: calc(100vw - (100vw * 0.35 + 100px));
  }
  
  .news-footer {
    display: none;
  }

}


@media (min-width: 916px) {
  .news {
    background: #f6f6f6;
  }
  
  .news-header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: 916px;
    margin: 0 auto;
  }
  
  .news-left {
    margin-left: 35px;
  }
  
  .news-left > p {
    font-size: 28px;
    letter-spacing: 2px;
  }
  
  .news-left > img {
    display: block;
    width: 70px;
    margin-top: 10px;
  }
  
  .news-right {
    border: 1px solid black;
    width: 160px;
    margin-right: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.5s;
  }
  
  .news-right:hover,
  .more-link:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }

  .more-link {
    text-decoration: none;
    color: black;
  }
  
  .more-link > p {
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .right-arrow {
    position: relative;
    left: 40px;
    /* font-size: 20px; */
  }
  
  .news-main {
    margin-top: 50px;
    padding-bottom: 50px;
    transition: 0.3s;
  }
  
  .news-link {
    text-decoration: none;
    color: #000;
  }
  
  .news-link > div:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .news-topic {
    display: flex;
    width: calc(916px - 20px);
    margin: 60px auto 0;
  }
  
  .news-topic > img {
    display: block;
    width: calc(916px * 0.35);
    height: auto;
    height: calc(916px * 0.2);
    margin-left: 25px;
  }
  
  .news-topic > div {
    margin-left: 30px;
    width: calc(916px - (916px * 0.35 + 90px));
  }
  
  .details > h2 {
    font-size: 18px;
    font-weight: bold;
    width: calc(916px - (916px * 0.35 + 120px));
    letter-spacing: 1.5px;
    line-height: 1.7;
  }
  
  
  
  .details > p:first-of-type {
    margin-top: 5px;
    font-size: 11px;
  }
  
  .details > p:last-child {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-top: 25px;
    width: calc(916px - (916px * 0.35 + 100px));
  }
  
  .news-footer {
    display: none;
  }
}

.news-arrow {
  background: #fff;
  color: #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  text-align:center;
  line-height: 50px;
  font-size: 26px;
  position: relative;
  top: 25px;
  transition: 0.3s;
}

.news-arrow:hover {
  cursor:pointer;
  top: 20px;
  transition: 0.3s;
}


/* snsクラス */


@media(max-width: 580px) {
  .sns {
    height: 160px;
  }
  
  .sns-button {
    display: flex;
    align-items: center;
    height: 110px;
    width: calc(100vw - 120px);
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto 0;
    transition: 0.4s;
  }
  
  .facebook,
  .twitter,
  .hatena,
  .line {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 20px;
    // padding-left:calc(100vw - 500px);
    // padding-right:calc(100vw- 500px);
    transition: 0.3s;
    text-align: center;
  }
  
  .facebook-btn,
  .twitter-btn,
  .hatena-btn,
  .line-btn{
    text-decoration: none;
    height: 40px;
    // padding: 10px;
    width: calc((100vw - 40px) / 3);
  }
  
  .facebook {
    color: #4871a9;
    border: 1px solid #4871a9;
    width: calc((100vw - 40px) / 3);
    font-size:11px;
  }
  
  .twitter {
    color: #70bdd3;
    border: 1px solid #70bdd3;
    width: calc((100vw - 40px) / 3);
    position: relative;
    right: 30px;
    font-size: 11px;
  }
  
  .hatena {
    color: #2f9bcd;
    border: 1px solid #2f9bcd;
    width: calc((100vw - 40px) / 3);
    font-size: 11px;
  }

  .line {
    color: #8ec09d;
    border: 1px solid #8ec09d;
    width: calc((100vw - 40px) / 3);
    position: relative;
    right: 30px;
    font-size: 11px;
  }
  
  .facebook:hover,
  .twitter:hover,
  .hatena:hover,
  .line:hover {
    color:#fff;
    border-color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .facebook:hover {
    background: #4871a9;
  }
  
  .twitter:hover {
    background: #70bdd3;
  }
  
  .hatena:hover {
    background: #2f9bcd;
  }

  .line:hover {
    background: #8ec09d;
  }
}

@media(min-width: 581px) {
  .sns {
    height: 110px;
  }
  
  .sns-button {
    display: flex;
    align-items: center;
    height: 110px;
    justify-content: center;
    transition: 0.4s;
  }

  .line-btn {
    display: none;
  }
  
  .facebook,
  .twitter,
  .hatena {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 10px;
    transition: 0.3s;
  }
  
  .facebook-btn,
  .twitter-btn,
  .hatena-btn{
    text-decoration: none;
    height: 40px;
    padding: 10px;
  }
  
  .facebook {
    color: #4871a9;
    border: 1px solid #4871a9;
    font-size: 11px;
  }
  
  .twitter {
    color: #70bdd3;
    border: 1px solid #70bdd3;
    font-size: 11px;
  }
  
  .hatena {
    color: #2f9bcd;
    border: 1px solid #2f9bcd;
    font-size: 11px;
  }
  
  .facebook:hover,
  .twitter:hover,
  .hatena:hover {
    color:#fff;
    border-color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .facebook:hover {
    background: #4871a9;
  }
  
  .twitter:hover {
    background: #70bdd3;
  }
  
  .hatena:hover {
    background: #2f9bcd;
  }
}



/* informationクラス */


@media(max-width: 580px) {
  .information {
    background: #939899;
    height: 300px;
    transition: 0.3s;
  }
  
  .information-category {
   height: 300px;
   align-items: center;
   width: 100vw;
  //  margin: 0 auto;
   justify-content: space-between;
  }
  
  .information-category > li {
    color: white;
    font-size: 15px;
    height: 60px;
    line-height: 60px;
    background: #939899;
    text-align: center;
  }

  .information-category > li:not(:last-of-type) {
    border-bottom: 1px solid #fff;
  }

  
  

  .information-list {
    display: block;
    width: 100vw;
    text-decoration: none;
    color: #fff;
  }

  .information-list:hover {
    opacity: 0.7;
  }
}

@media(min-width: 581px) {
  .information {
    background: #939899;
    height: 90px;
  }
  
  .information-category {
   display: flex;
   height: 90px;
   align-items: center;
   width: 450px;
   margin: 0 auto;
   justify-content: space-between;
  }
  
  .information-category > li {
    color: white;
    font-size: 15px;
  }

  .information-list {
    text-decoration: none;
    color: #fff;
  }

  .information-list:hover {
    opacity: 0.7;
  }
}



/* footerクラス */

/* ここからレスポンシブデザイン始める */

@media(max-width:580px) {
  footer {
    background: #656c6e;
    height: 190px;
  }
  
  .footer-div {
    height: 190px;
    width: calc(100vw - 110px);
    margin: 0 auto;
  }
  
  .footer-div > img {
    display: block;
    height: 90px;
    margin: 0 auto;
    padding: 30px 0 20px 0;
  }
  
  .footer-div > p {
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: center;
  }
}


@media(min-width: 581px) and (max-width: 658px) {
  footer {
    background: #656c6e;
    height: 190px;
  }
  
  .footer-div {
    height: 190px;
    width: calc(100vw - 110px);
    margin: 0 auto;
  }
  
  .footer-div > img {
    display: block;
    height: 90px;
    position: relative;
    left: 20px;
    padding: 30px 0 20px 0;
  }
  
  .footer-div > p {
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: right;
  }
}


@media(min-width: 659px) {
  footer {
    background: #656c6e;
    height: 160px;
  }
  
  .footer-div {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    width: calc(100vw - 110px);
    margin: 0 auto;
  }
  
  .footer-div > img {
    display: block;
    height: 90px;
  }
  
  .footer-div > p {
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.5px;
  }
}


